<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pispower"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icons"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".start.StartActivity"
            android:label="@string/title_activity_start" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".catalog.CatalogActivity"
            android:label="@string/title_activity_video_management"
            android:parentActivityName=".start.StartActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pispower.android.start.StartActivity" >
            </meta-data>
        </activity>
        <activity
            android:name=".video.VideoActivity"
            android:label="@string/title_activity_video"
            android:parentActivityName=".catalog.CatalogActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.pispower.catalog.VideoPackagetActivity" >
            </meta-data>
        </activity>
        <activity
            android:name=".video.play.PlayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape" >
        </activity>
    </application>

</manifest>